* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  height: 528px;
  padding: 20px;
  border: 5px solid black;
  margin: 15px;
}

.section-title {
  color: #2ddf5c;
}

h1 {
  color: #ffffff;
  font-family: 'Anton', sans-serif;
}

.main-header {
  width: 100%;
  padding: 8px 16px;
  background-color: #2ddf5c;
}

.main-header > div {
  display: inline-block;
}


/* Display inline-block has a weird behaviour. Two adjacent elements of inline-block usually 
  have a whitespace betwwen them(roughly 4px). Either you can subtract 5px more or you can place 
  inline divs in html without whitespace(Check HTML) */

.main-nav {
  display: inline-block;
  width: calc(100% - 55px);
  text-align: right;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}