body {
    font-family: sans-serif;
}

#assignment-instructions {
    font-family: sans-serif;
    color: coral;
}

.highlighted-code {
    color: green;
}

code {
    font-family: monospace;
    color: red;
}

li {
    font-family: inherit;
}

li+li,
ol li {
    background-color: black;
    color: white;
}